* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

.bg-azure {
  background-color: #0282f9;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-end span {
  padding-top: 5px;
  padding-right: 30px;
  padding-bottom: 5px;
}

.flex-btw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-row {
  color: #FFF;
}

.jumbotron {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: top;
  margin: 0;
  padding: 0;
  background-image: url("./../img/jumbotron.jpg");
}

.card {
  margin-top: 50px;
  height: 280px;
}

.cover img {
  width: 90%;
  margin-left: 5%;
}

main {
  background-color: #2f2e2e;
  color: #FFF;
}

.single-main {
  background-color: #FFF;
  color: blue;
}

.load-more {
  background-color: #0282f9;
  padding: 10px 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.single-img {
  position: relative;
  left: 20%;
  margin-top: -300px;
  z-index: 10;
  box-shadow: 2px 2px 6px 6px white;
  transform: scale(0.8);
}

.h-60 {
  height: 60px;
}